@import "../../pages/index.scss";

.container {
  article {
    margin-top: 4rem;
    .header {
      display: flex;
      justify-content: center;
      margin-bottom: 2rem;
      padding-bottom: 0.25rem;
      color: $dark-font;
      font-size: 1.75rem;
      font-weight: bold;
      letter-spacing: 1px;
      border-bottom: double 4px $accent-color;
    }

    p {
      color: $dark-font;
      line-height: 1.5rem;
      text-align: center;
    }

    .subtitle {
      margin: 1.5rem auto;
    }

    .skillIcons {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;

      // .icon {
      //   margin: 1rem 0.75rem;
      //   display: flex;
      //   flex-flow: column nowrap;
      //   align-items: center;

      //   svg {
      //     color: $accent-color-dark;
      //     margin-bottom: 0.5rem;
      //   }

      //   span {
      //     font-size: 0.9rem;
      //     font-weight: bold;
      //     color: rgba(40, 26, 23, 0.85);
      //   }
      // }
    }

    .learning {
      font-weight: bold;

      span {
        color: $accent-color;
      }
    }
  }
}

@media screen and (min-width: 760px) {
  .container {
    padding: 1.5rem 7rem;

    article {
      .header {
        font-size: 2.5rem;
        margin-bottom: 3rem;
        padding-bottom: 0.5rem;
      }

      .skillIcons {
        height: 150px;
        svg {
          margin: 0.5rem;
          font-size: 1.25em;
        }

        span {
          position: relative;
          opacity: 0;
          transition: 0.25s all ease-in-out;

          // &::after {
          //   content: "";
          //   width: 10px;
          //   height: 10px;
          //   background-color: $dark-font;
          //   position: absolute;
          //   top: -5px;
          //   left: 25%;
          //   transform: translateX(50%) rotate(45deg);
          // }
        }

        div:hover span {
          opacity: 1;
          padding: 0.25rem 0.5rem;
          border-radius: 5px;
          color: $light-grey;
          background-color: $dark-font;
        }
      }
    }
  }
}

@media screen and (min-width: 1140px) {
  .container {
    padding: 1.5rem 12rem;

    article {
      .header {
        font-size: 3rem;
      }

      .skillIcons {
        svg {
          font-size: 1.75em;
        }
      }
    }
  }
}
